.form {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.form__details{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

.form__order{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__input-inform{
    grid-column: 1 / -1;;
}