.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1578px;
  //height: 443px;
  background: linear-gradient(rgba($dark, 0.9), rgba($dark, 0.9)),
    url(../../img/Rectangle-5004.jpg);
  background-position: center top;
  color: white;
  background-size: cover;
  position: relative;
  
  //align-items: center;
  //justify-content: center;
  font-family: "Inter", sans-serif;
}

.banner__details {
  display: flex;
  flex-direction: column;
  //position: absolute;
  justify-content: center;
  text-align: center;
  //padding: 100px 0;
  height: 443px;
  margin: 0 auto;
  gap: 30px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  color: $white;
  gap: 15px;
  //padding: 0 27.31px;
  //padding-bottom: 30px;
}

.banner__text-main {
  //padding: 0 15px 37.5px;
  display: flex;
  flex-direction: column;
  gap: 12px;

}



.banner__text-description {
  max-width: 570px;
  width: 100%;
}

.banner__btn {
  margin: 0 auto;
}
