.card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-sizing: border-box;
  width: 100%;
  max-width: 370px;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.card__img {
  object-fit: cover;
  display: block;
  height: 230px;
}

.details__container {
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.card__text {
  gap: 16px;
  display: flex;
  flex-direction: column;
  max-width: inherit;
  text-align: center;
}

.text__header {
  line-height: 30px;
  font-size: 22px;
  color: $dark;
  font-weight: 600;
  //text-shadow: 0 0.1rem 0.1rem rgba($dark, 0.6);
}

.exp {
  font-size: 16px;
  line-height: 24px;
  color: $primary-text-color;
}
