/**
 * Basic typography style for copy text
 */
%heading {
  font-family: "Inter", sans-serif;
}

%body {
  font-family: "Inter", sans-serif;
}

.heading-2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.heading-3 {
  font-size: 40px;
  line-height: 58px;
  font-weight: 700;
}

.heading-6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.body-medium-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
